:root {
    --primary-color: #DF7401;
    --primary-color-rgb30: #DF74014D;
    --primary-color-rgb60: #DF740199;
    --primary-color-rgb90: #DF7401E5;
    --secondary-color: #886A08;
    --secondary-color-rgb30: #886A084D;
    --secondary-color-rgb60: #886A0899;
    --secondary-color-rgb90: #886A08E5;
    --background-color: #3B0B2E;
    --background-color-rgb30: #3B0B2E4D;
    --background-color-rgb60: #3B0B2E99;
    --background-color-rgb90: #3B0B2EE5;
    --color-error: #e80505;
    --color-success: #32ef08;

    --bs-border-color: gray;
}

body {
    background: linear-gradient(90deg, var(--background-color), var(--background-color) 100%);
    color: var(--primary-color);
    padding: 0;
    margin: 0;
    font-weight: 100;
    font-family: Verdana, serif;
}

h1, h2, h3, h4, h5, h6 {
    color: darkgray;
}

body::-webkit-scrollbar {
    width: 11px;
}

body::-webkit-scrollbar-track {
    background: var(--background-color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary-color-rgb30);;
    border-radius: 6px;
}

body:after, body:before {
    width: 270px;
    height: 270px;
    border-radius: 100%;
    position: fixed;
    z-index: -100;
}

body:after {
    content: '';
    top: 42.8%;
    right: 25%;
    background-color: var(--secondary-color);
    -webkit-filter: blur(150px);
    filter: blur(150px);
}

body:before {
    content: '';
    top: 27.5%;
    left: 23.9%;
    background-color: var(--primary-color);
    -webkit-filter: blur(150px);
    filter: blur(150px);
}

a {
    color: var(--secondary-color);
}

a:hover {
    color: var(--primary-color-rgb90) !important;
}


.text-muted {
    color: darkgray !important;
    font-size: 15px;
}

.default-bg {
    margin-top: auto !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.blur-5 {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.blur-trans {
    -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(transparent));
}

.p-rl-50 {
    padding-left: 50px;
    padding-right: 50px;
}

.nav-link {
    color: darkgray;
}

.nav-pills.nav-style-2 .nav-link.active, .nav-pills.nav-style-2 .show > .nav-link {
    color: white;
    background: var(--primary-color-rgb60);
}

.nav-pills.nav-style-2 .nav-link.active:hover, .nav-pills.nav-style-2 .show > .nav-link:hover, .nav-pills.nav-style-2 .nav-link:hover, .nav-pills.nav-style-2 .show > .nav-link:hover {
    background: var(--background-color-rgb60) !important;
    border-color: var(--background-color);
    color: white !important;
}

.nav-link:focus, .nav-link:hover {
    color: white;
}

.nav-item {
    margin: 0 15px;
}

.dropdown-menu, .navbar-toggler {
    background: var(--background-color-rgb30);
    border: none;
    color: darkgray;
}

.dropdown-item {
    color: darkgray;
}

.dropdown-item:hover, .navbar-toggler:hover {
    background: var(--background-color-rgb60);
    color: white !important;
    box-shadow: none;
}

.dropdown-item:focus, .dropdown-item:active, .navbar-toggler:focus {
    background: var(--primary-color-rgb30);
    color: white !important;
    box-shadow: none;
}

.footer-img {
    max-height: 150px;
    z-index: -1;
}

.footer {
    padding-top: 50px;
    margin-top: 80px !important;
}


.border-all-60 {
    border: 1px solid var(--background-color-rgb60) !important;
}

.border-all-30 {
    border: 1px solid var(--background-color-rgb30) !important;
}

.bg-30 {
    margin: 0 auto;
    max-width: 600px;
    background-color: var(--background-color-rgb30) !important;
}

.bg-60 {
    background-color: var(--background-color-rgb60) !important;
}

.bg-90 {
    background-color: var(--background-color-rgb90) !important;
}

.pos-container {
    margin-top: 50px;
}

.pd-container {
    padding: 40px 50px;
}

.pd-input-buttons {
    padding-bottom: 25px;
}

.form-default {
    --bs-nav-pills-border-radius: 0.375rem;
}

::selection {
    color: var(--primary-color) !important;
    background: var(--background-color-rgb30) !important;
}

.form-default input {
    width: 100%;
    margin-bottom: 20px;
    height: 41px;
    border-radius: var(--bs-nav-pills-border-radius) !important;
    background-color: transparent;
    border-color: var(--primary-color-rgb30);
    box-shadow: none;
    outline: none !important;
    border-width: 1px;
    border-style: solid;
    padding: 5px 20px;
    color: white;
}

.right-button {
    display: flex !important;
}

.right-button .btn {
    margin-left: auto;
}

.form-default input[type="checkbox"] {
    height: 13px;
    width: 13px;
    margin: 0 8px 4px 0;
    position: relative;
    vertical-align: bottom;
}

.is_invalid {
    animation-name: is_invalid_animation;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: initial;
}

.is_valid {
    animation-name: is_valid_animation;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: initial;
}

@keyframes is_invalid_animation {
    from {
    }
    to {
        border-color: var(--color-error);
    }
}

@keyframes is_valid_animation {
    from {
    }
    to {
        border-color: var(--color-success);
    }
}

p.error {
    --font-initial: 10px;
    font-size: var(--font-initial);
    color: var(--color-error);
    margin: 0 0 4px 0;
    animation-name: add_error_log;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: initial;
}

p.back_error{
    --font-initial: 10px;
    font-size: var(--font-initial);
    color: var(--color-error);
    margin: 0 0 4px 0;
    animation-name: add_error_log_back;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: initial;
}

@keyframes add_error_log {
    from {
        color: transparent;
        font-size: 0;
        margin: 0;
    }
    to {
        color: var(--color-error);
        font-size: var(--font-initial);
        margin: 0 0 4px 0;
    }
}

@keyframes add_error_log_back {
    from {
        color: var(--color-error);
        font-size: var(--font-initial);
        margin: 0 0 4px 0;
    }
    to {
        color: transparent;
        font-size: 0;
        margin: 0;
    }
}

.form-default input[type="checkbox"]:checked {
    accent-color: var(--primary-color-rgb60);
}

.labelCheck {
    color: darkgray;
    display: contents;
    font-size: 13px;
}

.labelCheck a {
    color: var(--primary-color-rgb60);
}

.form-default input:focus {
    border-color: var(--primary-color-rgb60);
    color: white;
}

.form-default input:hover {
    border-color: var(--primary-color-rgb90);
    color: white;
}

.btn-primary {
    background: var(--primary-color-rgb90);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background: var(--background-color-rgb60) !important;
    border-color: var(--background-color) !important;
}

.btn-primary.disabled {
    background-color: var(--primary-color-rgb30);
    border-color: transparent;
}

.form-default input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: gray;
}

.pd-input {
    padding: 0 15px;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--background-color) inset !important;
    -webkit-text-fill-color: white !important;
}

@media ( max-width: 400px) {
    .pos-container {
        margin-top: 0;
    }

    .pd-container {
        padding: 30px 20px;
    }

    .pd-input-buttons {
        padding-bottom: 20px;
    }

}

@media ( max-width: 700px) {
    p.error {
        --font-initial: 12px;
    }

    p.back_error{
        --font-initial: 12px;
    }
}
